body {  
  background-image: url(../images/halftone-yellow.png); 
}

#mainimage{
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

#locationbox{
  background:white;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 1rem;
  color:red;
  text-align: center;
  margin-left: 220px;
  margin-right: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 5px ridge red;
  border-radius: 25px;  
}

#ourstoryparagraph{
  background: white;
  color: black;
  margin-left: 220px;
  margin-right: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 3px solid blue;
  overflow: auto; 
  border-radius: 25px; 
}

#locationheaders{
font-size: 2rem;
font-family: "Apple Chancery"; 
color: black;
font-weight: 900;
}

.trainseven{
  background-color: #B933AD; 
  color: #FFFFFF;
  border-radius: 50%;
	width: 200px;
  height: 100px;
  padding: 5px;
}
.trainE{
  background-color: #2850AD; 
  color: #FFFFFF;
  border-radius: 50%;
	width: 200px;
  height: 100px;
  padding: 5px;
}

.trainF{
  background-color: #FF6319; 
  color: #FFFFFF;
  border-radius: 50%;
	width: 200px;
  height: 100px;
  padding: 5px;
}
.trainM{
  background-color: #FF6319; 
  color: #FFFFFF;
  border-radius: 50%;
	width: 200px;
  height: 100px;
  padding: 5px;
}
.trainR{
  background-color: #FCCC0A; 
  color: #000000;
  border-radius: 50%;
	width: 200px;
  height: 100px;
  padding: 5px;
}

#mainheader{
  background: red;
}

#menupictures{
  background: white;
  border: 10px solid red;
  padding: 10px;
  margin-left: 220px;
  margin-right: 220px;
  overflow: auto; 
  border-radius: 25px;
}
#menupic1{
  float: left;
  padding-left: 160px;
}

#menupic2{
  float: left;
  padding-left: 200px;
  padding-top: 55px;
}
#menupic3{
  float: left;
  padding-left: 160px; 
  padding-top: 30px;
}
#menupic4{
  float: left;
  padding-left: 200px; 
  padding-top: 25px;
  
}
#menupic5{
  float:left;
  padding-left: 160px; 
  padding-top: 30px;
  
}
#menutitle{
  font-size: 2rem;
  color: red;
  font-weight: 900;
  font-family: "Apple Chancery"; 
  padding-left: 20px;
}
#headertitle{
  float: left;
  width:20%;
  background: blue;
  font-size: 20px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

#headerimage{
  float: left;
  width:30%;
}

#tabs{
  float: left;
  width: 50%;

}

#headerbox{
  background: blue;
  color:yellow;
  padding: 20px;
  margin-bottom: 10px;
}
.title{
  float:left;
  font-size: 3rem;
  border-right: 30px;
  font-family: "Apple Chancery";
  padding-right: 500px;
  padding-left: 20px;
}

.nav{
  display:inline;
  float:right;
  padding-right: 20px;
  padding-top: 20px;
}

li{
  list-style:none;
  display:inline;
  font-size: 1rem;
  padding: 1px;
  border: 5px red;
  border-style: ridge;
  background-color: white;
  font-family: "OswaldBook";
  border-radius: 5px;
}

.formcontact{
font-size: 1.5rem;
font-family: "OswaldBook";
padding-bottom: 20px;
padding-top: 20px;
text-align: center;
width: 100%;
background:yellow;
box-sizing: border-box;
width: 100%;
display: block;
}
a{
  text-decoration-line: none;
}
.contactbox{
  background: whitesmoke;
  font-family: "Apple Chancery"; 
  font-size: 1.5rem;
  font-weight: 900;
  color: blue;
  text-align: left;
  margin-left: 120px;
  margin-right: 120px;
  padding-bottom: 20px;
  border-radius: 25px;
}

.submitbutton{
  text-align: center;
  padding-top: 15px;
}

.cboxheader{
padding: 20px;
}

#fullname{
width: 80%;
height: 50px;
font-size: 1rem;
}

#number{
width: 80%;
height: 50px;
font-size: 1rem;
}

#subject{
width: 80%;
font-size: 1rem;
}